* {
    font-family: Arial, Helvetica, sans-serif;
  }

#homebackground {
    background-color: #EAFAF1;
}

#hometable {
    border-collapse: collapse;
    width: 80%;
}

#hometable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: green;
    color: white;
}

#hometable td, #hometable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#hometable tr:nth-child(even){background-color: #ffffff;}

#hometable tr:hover {background-color: #ddd;}
